{% extends "rental/base.html"%}
{% block content %}

  <!-- Charts -->
  <div class="container-fluid">
    <div class = "row">
      <div class = "col-8 d-flex align-items-stretch">
        <!-- Boxplot Price-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Chart Title</div>
          <div class="card-body">
            {% block chart3 %}
              {% autoescape off %}
                <div>{{ data.dynamic_scatter_price_community }} </div>
              {% endautoescape %}
            {% endblock %}
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>
      <div class = "col-4 d-flex align-items-stretch">
        <!-- barchart community -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Chart Title</div>
          <div class="card-body">
            {% block chart12 %}
              {% autoescape off %}
                <div>{{ data.dynamic_pie_community }} </div>
              {% endautoescape %}
            {% endblock %}
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col">
      <!-- Boxplot Price-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-area"></i>
          Chart Title</div>
        <div class="card-body">
          {% block chart2 %}
            {% autoescape off %}
              <div>{{ data.dynamic_box_price }} </div>
            {% endautoescape %}
          {% endblock %}
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
  </div>


  <!-- heatmap -->
  <div class = "row">
    <div class = "col-6">
      <!-- Boxplot Price-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-area"></i>
          Chart Title</div>
        <div class="card-body">
          {% block chart32 %}
            {% autoescape off %}
              <div>{{ data.dynamic_heat }} </div>
            {% endautoescape %}
          {% endblock %}
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>

    <div class = "col-6">
      <!-- Boxplot Price-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-area"></i>
          Chart Title</div>
        <div class="card-body">
          {% block chart56 %}
            {% autoescape off %}
              <div>{{ data.dynamic_hist }} </div>
            {% endautoescape %}
          {% endblock %}
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
  </div>

{% endblock content %}