{% extends "rental/base.html"%}
{% block content %}
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white o-hidden h-100">  
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white o-hidden h-100">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white o-hidden h-100">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white o-hidden h-100">
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>

  <div id = "bar_chart"></div>  

  {% load static %}
  <script src="{% static "rental/bar.js" %}" type="text/javascript"></script>

  <div id = "pie_chart"></div> 
  
  {% load static %}
  <script src="{% static "rental/pie.js" %}" type="text/javascript"></script>

  <div id = "histogram"></div> 
  
  {% load static %}
  <script src="{% static "rental/hist.js" %}" type="text/javascript"></script>

  <div id = "box_plot"></div> 
  
  {% load static %}
  <script src="{% static "rental/box.js" %}" type="text/javascript"></script>

  <div id = "heat"></div> 

  {% load static %}
  <script src="{% static "rental/heat.js" %}" type="text/javascript"></script>


{% endblock content %}
 