{% extends "rental/base.html"%}
{% block content %}
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-comments"></i>
          </div>
          {% block meanprice %}
            {% autoescape off %}
              <div class = "mr-5"> Mean Price: {{ data.mean_price }} </div>
            {% endautoescape %}
          {% endblock %}
          <!-- <div class="mr-5">26 New Messages!</div> -->
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-list"></i>
          </div>
          {% block total_listings %}
            {% autoescape off %}
              <div class = "mr-5"> Total Listings: {{ data.total_listings }} </div>
            {% endautoescape %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-success o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-shopping-cart"></i>
          </div>
          {% block agg_prices %}
            {% autoescape off %}
              <div class = "mr-5"> {{ data.agg_prices}} </div>
            {% endautoescape %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-danger o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-life-ring"></i>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Charts -->
  <div class="container-fluid">
    <div class = "row">
      <div class = "col-8 d-flex align-items-stretch">
        <!-- Boxplot Price-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Chart Title</div>
          <div class="card-body">
            {% block chart3 %}
              {% autoescape off %}
                <div>{{ data.dynamic_scatter_price_community }} </div>
              {% endautoescape %}
            {% endblock %}
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>
      <div class = "col-4 d-flex align-items-stretch">
        <!-- barchart community -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Chart Title</div>
          <div class="card-body">
            {% block chart12 %}
              {% autoescape off %}
                <div>{{ data.dynamic_pie_community }} </div>
              {% endautoescape %}
            {% endblock %}
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col">
      <!-- Boxplot Price-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-area"></i>
          Chart Title</div>
        <div class="card-body">
          {% block chart2 %}
            {% autoescape off %}
              <div>{{ data.dynamic_box_price }} </div>
            {% endautoescape %}
          {% endblock %}
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
  </div>


  <!-- heatmap -->
  <div class = "row">
    <div class = "col-6">
      <!-- Boxplot Price-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-area"></i>
          Chart Title</div>
        <div class="card-body">
          {% block chart32 %}
            {% autoescape off %}
              <div>{{ data.dynamic_heat }} </div>
            {% endautoescape %}
          {% endblock %}
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>

    <div class = "col-6">
      <!-- Boxplot Price-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-area"></i>
          Chart Title</div>
        <div class="card-body">
          {% block chart56 %}
            {% autoescape off %}
              <div>{{ data.dynamic_hist }} </div>
            {% endautoescape %}
          {% endblock %}
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
  </div>

{% endblock content %}
 