{% extends "rental/base.html"%}
{% block content %}

  <!-- Map-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Heat-Map</div>

    <div class="card-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{% url 'calgary_heat_map' %}"></iframe>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>

{% endblock content %}